/* Google font  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* Reset CSS start  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Merriweather", serif, "Inter", sans-serif;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
/* Reset CSS start  */
/* Global CSS start */
.container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}
section,
header,
footer {
  display: block;
  float: left;
  width: 100%;
}
/* Global CSS end */
/* Main CSS start  */
/* Header CSS start  */
.header {
  margin-top: 50px;
}
.header .bg {
  background-image: url("../images/header-bg.png");
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
}
.header .header-text {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.bg-overlay {
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  height: 600px;
}
.header h4.sm-txt {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}
.header h1.header-title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  width: 632px;
}
/* Header CSS end  */
/* Category section CSS start  */
.category {
  margin-top: 120px;
}
.category .cat-text {
  text-align: center;
}
.category .cat-text .big-off {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.category .cat-text .cat-del {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.category .cat-text .cat-all {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
.category .cat-img {
  text-align: center;
  width: 802.9px;
  height: 500px;
  margin: 0 auto;
}
.category .cat-img img {
  text-align: center;
  width: 100%;
}
/* Category section CSS end  */
/* Welcome section CSS start */
.welcome {
  margin-top: 120px;
}
.welcome .bg {
  background-image: url("../images/wc-ov-bg.png");
  height: 600px;
  background-position: center center;
  background-size: cover;
}
.welcome .wc-main-wrap {
  width: calc(100% - 252px);
  margin: 0 auto;
}
.welcome .wc-cont-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}
.welcome .wc-cont-wrap .wel-text {
  width: 660px;
}
.welcome .wc-cont-wrap .wc-img {
  width: 319px;
}
.welcome .wc-cont-wrap .wc-img img {
  width: 100%;
}
.welcome .wc-cont-wrap .wel-text .wel-head {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.welcome .wc-cont-wrap .wel-text .wel-des {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}
.welcome .wc-cont-wrap .wel-text .wel-join-btn {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 32px;
  transition: all ease-in-out 500ms;
}
.wel-join-btn:hover {
  color: #f00 !important;
}
/* Welcome section CSS end */
/* Party Time CSS start  */
.party-time {
  margin-top: 120px;
}
.party-time .time {
  text-align: center;
  margin: 0 auto;
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.party-time .time span {
  color: #f00;
}
.party-time .container {
  height: 482px;
  text-align: center;
  display: block;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
}
.party-wrap {
  margin-top: 100px !important;
  width: 100%;
  display: block;
  float: left;
}
.party-time a.join {
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  text-align: center !important;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 48px;
  transition: all ease-in-out 500ms;
}
.party-time a.join:hover {
  background-color: rgb(248, 89, 89);
}
/* Party Time CSS end  */
/* Coming soon section CSS start  */
.coming-soon {
  margin-top: 120px;
  height: 463px;
}
.coming-soon .container {
  height: 463px;
}
.com-flex-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 463px;
}
.com-flex-content .text-left {
  width: 393px;
}
.com-flex-content .text-img {
  width: 463px;
}
.com-flex-content .text-right {
  width: 276px;
}
.com-flex-content .text-img .pding-circle {
  outline: 15px solid #f00;
  border-radius: 463px;
  width: 463px;
  height: 463px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  outline-offset: -15px;
}
.com-flex-content .text-img .pding-circle img {
  width: 364.84px;
  height: 364.84px;
}
.com-flex-content .new {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.com-flex-content .come {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.com-flex-content .come-des {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 22px;
}
.com-flex-content .text-right .tow-four {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.com-flex-content .text-right .tow-four-tex {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 43px;
}

/* Coming soon section CSS end  */
/* Holiday sale css tart  */
.holy-sale {
  height: 986px;
  margin-top: 120px;
}
.holy-sale .holy-text-sec {
  text-align: center;
}
.holy-sale .holy-text-sec .func {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.holy-sale .holy-text-sec .fefty-off {
  color: #070211;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
}
.holy-sale .holy-text-sec .fefty-off span {
  color: #070211;
  font-size: 72px;
  font-weight: 900;
}
.holy-sale .holy-text-sec .holy-des {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 64px;
}

/* Holiday sale css end  */
/* Main CSS end  */
