/* Google font  */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* Reset CSS start  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Merriweather", serif;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
/* Reset CSS start  */
/* Global CSS start */
.container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}
section,
header,
footer {
  display: block;
  float: left;
  width: 100%;
}
/* Global CSS end */
/* Main CSS start  */
/* Header CSS start  */
.header {
  margin-top: 50px;
}
.header .bg {
  background-image: url("../images/header-bg.png");
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
}
.header .header-text {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.bg-overlay {
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  height: 600px;
}
.header h4.sm-txt {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}
.header h1.header-title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  width: 632px;
}
/* Header CSS end  */
/* Main CSS end  */
